<mat-select
  class="lang-chip"
  [value]="languageService.getCurrentLanguage()"
  (selectionChange)="changeLanguage($event.value)"
>
  <mat-select-trigger>
    <div>
    <mat-icon class="flag-icon" [svgIcon]="selectedLanguage!!.icon"></mat-icon>
      <span>{{ selectedLanguage?.label }}</span>
    </div>
  </mat-select-trigger>

  @for (lang of languages; track lang.code) {
    <mat-option [value]="lang.code">
      <div class="option-content">
          <mat-icon class="flag-icon" [svgIcon]="lang.icon"></mat-icon>
          <span>{{ lang.label }}</span>
        </div>
      </mat-option>
  }
</mat-select>